body {
    user-select: none;
    cursor: default;
}

.app {
    display: flex;
    flex-direction: column;
}

.floorsRaw {
    margin-top: 2rem;
    border: 1px solid white;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: raw;
}

.floor {
    width: 1.75rem;
    height: 1.75rem;
    position: relative;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.floor.target {
    border-color: white;
}

.floor.current::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    border: 0.5rem solid transparent;
    border-bottom: 0.5rem solid white;
}

.elevator {
    margin-top: 2rem;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    background: #333;
    border-left: 11rem solid white;
    border-right: 11rem solid white;
    box-sizing: border-box;
    transition: border 0.25s cubic-bezier(0.17,0.84,0.44,1);
}

.elevator.open {
    border-left: 1rem solid white;
    border-right: 1rem solid white;
}
